:host {
  .navbar {
    background: #0a2d48;
    .navbar-brand {
      font-weight: 600;
      font-size: 20px;
      color: white;
      text-transform: uppercase;
    }
  }
  .navbar-toggler {
    color: white;
  }

  span {
    vertical-align: middle;
    color: red;
  }
  #logout {
    color: white;
  }
  #username {
    color: white;
  }
  li,
  a {
    font-size: 1.063rem;
    color: white;
  }
}
.navbar .active {
  color: #4dd8ab !important;
}
