:host {
  .navbar {
    background: #0a2d48;
    .container {
      width: 200px;
      height: 60px;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .navbar-toggler {
    color: white;
  }

  span {
    vertical-align: middle;
    color: red;
  }
  #logout {
    color: white;
  }
  #username {
    color: white;
  }
  li,
  a {
    font-size: 1.063rem;
    color: white;
  }
}
.navbar .active {
  color: #4dd8ab !important;
}
