.navbar {
  padding: 1rem 2rem;
  background: #0a2d48;
  .container {
    width: 200px;
    height: 60px;
    img {
      width: 100%;
      height: auto;
    }
  }
}

li {
  margin: 0.625rem;
}

.navbar-toggler {
  color: white;
}

.navbar .navbar-nav .nav-item .nav-link {
  line-height: 1.6;
  opacity: 0.8;
  font-size: 1.063rem;
  font-weight: 400;
  color: white;
}

.navbar .navbar-collapse.show .navbar-nav .nav-item {
  padding: 0;
  margin: 0;
}

.navbar .btn {
  font-size: 1.063rem;
  background: #4dd8ab;
}
.select {
  background: #0a2d48;
}
#lang {
  background-color: #0a2d48;
  color: white;
  font-size: 1.063rem;
  
}