div.custom-cell {
  display: flex;
  height: 100%;
  align-items: center;
}
div.status {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: grey;
  display: inline-block;
  margin-right: 5px;
}
div.status.up {
  background-color: green;
}
div.status.down {
  background-color: red;
}
#example-table-container {
  position: relative;
  overflow: auto;
}

table {
  width: 100%;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
}
