div.custom-cell {
  display: flex;
  height: 100%;
  align-items: center;
}
div.status {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #9e9e9e;
  display: inline-block;
  margin-right: 5px;
}
div.status.up {
  background-color: #388e3c;
}
div.status.down {
  background-color: #f44336;
}
#example-table-container {
  position: relative;
  overflow: auto;
}

table {
  width: 100%;
  th {
    color: #424242;
  }
  td {
    color: #455a64;
  }
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #607d8b;
  font-weight: 400;
}
#delete {
  color: #f44336;
}
