.page-header {
  min-height: 100vh;
  max-height: 999px;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  background-color: #0a2d48;
}
.page-header .motto {
  text-align: left;
  z-index: 3;
  color: white;
  position: relative;
}
#doc {
  background: #4dd8ab;
  color: white;
}
