$body-width: 62.5rem;
$primary: #0a2d48;
$secondary: #4dd8ab;

.wrap {
  margin: 0 auto;
  max-width: $body-width;
}
h2 {
  color: #455a64;
}
.hero {
  position: relative;
  z-index: 1;
  background: $primary;
  height: 100vh;
  max-height: 67.5rem;
  color: #fff;
  display: table;
  width: 100%;
  text-align: center;
  p {
    font-size: 2rem;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
  }
  .content {
    display: table-cell;
    vertical-align: middle;

    #presentation {
      border: white solid 2px;
      margin: 3.125rem;
      padding: 3.125rem;
    }
  }
}

%clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.row-land,
.tab-row {
  @extend %clearfix;
  display: block;
  @extend .wrap;
}

.tab-row {
  display: table;
  height: 100%;
  vertical-align: middle;
}

.main {
  background: #f8f8f8;
  section {
    padding: 0 1rem;
    min-height: 54vh;
    #feature {
      padding: 7.813rem 1.25rem 0 1.25rem;
    }
    .feat-1 {
      color: #263238;
      min-width: 12.5rem;
    }
  }
}

.footer {
  background: #607d8b;
  color: #f5f5f5;
  padding: 2rem;
  li {
    line-height: 1.5;
  }
  a {
    color: #aaa;
  }
  hr {
    max-width: $body-width;
    border: 0;
    height: 1px;
    background: #f5f5f5;
  }
}

%col {
  width: 100%;
  @media screen and (min-width: 640px) {
    float: left;
  }
  .tab-row > & {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    float: none;
  }
}

.col-6 {
  @extend %col;
  @media screen and (min-width: 640px) {
    width: 50%;
  }
  max-width: 100%;
}

.col-12 {
  @extend %col;
}

button.cta {
  padding: 0.75em 1.5em;
  background: #4dd8ab;
  color: black;
  border: none;
  cursor: pointer;

  &:hover {
    color: white;
  }
}
