$body-width: 1000px;
$nav-height: 60px;
$primary: #0a2d48;
$secondary: #4dd8ab;
$accent: complement($primary);
$accent2: complement($secondary);

html,
body {
  font-family: 'Nunito Sans', sans-serif;
  color: #333;
  font-size: 16px;
}

p {
  line-height: 1.6;
  max-width: 50em;
}

button,
input {
  font-family: Hind, sans-serif;
  font-size: 1rem;
  outline: none;
}

.wrap {
  margin: 0 auto;
  max-width: $body-width;
}

.mobile-open {
  display: block;
}

.hero {
  position: relative;
  z-index: 1;
  background: #0a2d48;
  height: 100vh;
  max-height: 1080px;
  background-attachment: fixed;
  background-position: center;
  color: #fff;
  display: table;
  width: 100%;
  text-align: center;
  text-shadow: 1px 2px 4px rgba(#000, 0.2);

  h1 {
    font-size: 4em;
    margin-bottom: 1rem;
  }
  p {
    font-size: 2em;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
  }
  .content {
    display: table-cell;
    vertical-align: middle;

    #presentation {
      border: white solid 2px;
      margin: 50px;
      padding: 50px;
    }
  }
}

h1,
h2,
p {
  margin: 1em 0;
}

h2 {
  font-size: 2rem;
  line-height: 0.5;
}

a {
  color: $secondary;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

%clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.row,
.tab-row {
  @extend %clearfix;
  display: block;
  @extend .wrap;
}

.tab-row {
  display: table;
  height: 100%;
  vertical-align: middle;
}

.main {
  background: #f8f8f8;
  .row,
  .tab-row {
    min-height: 200px;
    &:before,
    &:after {
      content: '';
      display: table;
    }
  }
  section {
    padding: 0 1rem;
    min-height: 400px;
    height: 62vh;
  }
}

.footer {
  background: #75889b;
  color: #ddd;
  padding: 2rem;
  li {
    line-height: 1.5;
  }
  a {
    color: #aaa;
  }
  hr {
    max-width: $body-width;
    border: 0;
    height: 1px;
    background: neutral($primary, 2);
  }
}

%col {
  width: 100%;
  @media screen and (min-width: 640px) {
    float: left;
  }
  .tab-row > & {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    float: none;
  }
}

.col-4 {
  @extend %col;
  @media screen and (min-width: 640px) {
    width: 33%;
  }
}

.col-6 {
  @extend %col;
  @media screen and (min-width: 640px) {
    width: 50%;
  }
}

.col-12 {
  @extend %col;
  //width: 100%;
}

button.cta {
  padding: 0.75em 1.5em;
  background: #4dd8ab;
  color: black;
  border: none;
  cursor: pointer;
  transition: 200ms ease;
  box-shadow: 0 1px 2px rgba(black, 0.2);
  border-radius: 2px;
  &:hover {
    color: white;
    box-shadow: 0 0.25em 10px rgba(black, 0.2);
  }
}
