div.custom-cell {
  display: flex;
  height: 100%;
  align-items: center;
}
div.status {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: grey;
  display: inline-block;
  margin-right: 5px;
}
div.status.up {
  background-color: green;
}
div.status.down {
  background-color: red;
}
.search {
  font-size: 14px;
  width: 20%;
}
#creation-button {
  background-color: #59a259;
  float: right;
  margin-top: 20px;
}
.mat-form-field {
  margin-top: 20px;
}

.example-container {
  position: relative;
  min-height: 200px;
}

#example-table-container {
  position: relative;
  overflow: auto;
}

table {
  width: 100%;
  th {
    color: white;
  }
}
.mat-raised-button {
  color: white;
  font-size: 16px;
}
.mat-header-cell {
  font-size: 15px;
}
.mat-header-row {
  background: #7f8fa6;
  height: 40px;
}
.mat-row {
  background: #f5f6fa;
}
.label {
  font-size: 20px;
}
#downtime {
  .mat-header-row {
    background: #f5f6fa;
    th {
      color: black;
    }
  }
}

mat-icon {
  display: inline-flex;
  vertical-align: middle;
}
mat-card {
  background-color: #f5f6fa;
  margin: 20px 20px 0px 0px;

  width: 100%;
  mat-card-title {
    font-weight: 400;
    padding-top: 3px;
    padding-bottom: 4px;
    text-align: left;
    color: #222;
    font-size: 15px;
    text-shadow: 0 1px 0 #fff;
    span {
      color: #868a98;
    }
  }
}

.example-container {
  height: 400px;
  overflow: auto;
}

#downtime {
  width: 100%;
  table-layout: fixed;
}

// example de circles
.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.card-circle {
  text-align: center;
  background: #27496d;
  border: 10px solid transparent;
  color: #fff;
  font-family: Montserrat;

  border-radius: 50%;
}
.card-circle .card-title {
  font-weight: 3em;
  font-size: 15px;
}

.card-circle .card-text {
  color: white;
}
.card-circle:nth-child(2) {
  background: #142850;
}
.card-circle .btn {
  background: transparent;
  border: 1px solid #fff;
  text-transform: uppercase;
  padding: 5px 30px;
  border-radius: 0px;
}
.card-circle .btn,
.card-circle .card-icon i,
.card-circle {
  transition: all ease-in-out 0.2s;
}
.card-circle:hover .btn {
  background: #33c08a;
  color: #fff;
  border: 1px solid transparent;
}
.card-circle .btn:hover {
  transform: scale(1.1);
}
.card-circle:hover {
  border: 10px solid #33c08a;
}
@media only screen and (min-width: 1200px) {
  .card-circle:nth-child(3) {
    margin-left: -15px;
    z-index: 0;
  }

  .card-circle:nth-child(2) {
    margin-left: -10px;
    box-shadow: 1px 2px 20px 8px rgba(241, 235, 235, 0.12);
    transform: scale(1.2);
    z-index: 1;
  }
}
