div.custom-cell {
  display: flex;
  height: 100%;
  align-items: center;
}
div.status {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: grey;
  display: inline-block;
  margin-right: 5px;
}
div.status.up {
  background-color: green;
}
div.status.down {
  background-color: red;
}
.search {
  font-size: 14px;
  width: 20%;
}
#creation-button {
  background-color: #59a259;
  float: right;
  margin-top: 20px;
}
.mat-form-field {
  margin-top: 20px;
}

.example-container {
  position: relative;
  min-height: 200px;
}

#example-table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}
table {
  width: 100%;
}
.mat-raised-button {
  color: white;
  font-size: 16px;
}
.mat-header-cell {
  font-size: 15px;
}
.mat-header-row {
  background: #ffffff;
}
.mat-row {
  background: #ffffff;
}
.label {
  font-size: 20px;
}

mat-icon {
  display: inline-flex;
  vertical-align: middle;
}
.circle {
  border: 0.3em solid #224d6e;
  border-radius: 100%;
  height: 8em;
  width: 8em;
  text-align: center;
  margin: auto;
}

.circle p {
  margin-top: 20%;
  font-size: 3em;
  font-weight: bold;
  font-family: sans-serif;
  color: #224d6e;
}
mat-card {
  margin: 20px;
  // background-color: #4dd8ab;
  background-color: whitesmoke;
}

p {
  color: black;
  font-size: medium;
  text-align: center;
}
