h2 {
  color: red;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Open Sans Condensed', sans-serif;
}
h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: black;
}
p {
  font-size: large;
  font-family: 'Open Sans Condensed', sans-serif;
}
table {
  table-layout: fixed;
  overflow-x: scroll;
  width: 100%;
  th {
    color: black;
  }
  tr {
    td {
      text-overflow: ellipsis;
      overflow: hidden;
      color: black;
    }
  }
}
.example-container {
  overflow: auto;
  border-top: grey solid 1px;
}
#back-button {
  margin-left: 19px;
  background: lightgrey;
  margin-bottom: 20px;
}
#csv-button {
  float: right;
  margin-right: 22px;
}
#banner {
  margin-bottom: 10px;
}
#chart {
  margin: 20px;
}
mat-card-title {
  font-weight: 400;
  padding-top: 3px;
  padding-bottom: 4px;
  text-align: left;
  color: #222;
  font-size: 15px;
  text-shadow: 0 1px 0 #fff;
  span {
    color: #868a98;
  }
}
#chart {
  width: 100%;
}
#csv {
  float: right;
  padding-bottom: 10px;
}
