h2 {
  color: #455a64;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 400;
}
h4 {
  margin-top: 10px;
  margin-bottom: 10px;

  color: #455a64;
}
p {
  font-size: large;
}
table {
  table-layout: fixed;
  overflow-x: scroll;
  width: 100%;
  th {
    color: #455a64;
  }
  tr {
    td {
      text-overflow: ellipsis;
      overflow: hidden;
      color: #455a64;
    }
  }
}
.mat-header-cell {
  font-size: 1rem;
}
.example-container {
  overflow: auto;
  border-top: grey solid 1px;
}

#banner {
  margin-bottom: 10px;
  height: 100px;
}
#chart {
  margin: 20px;
}
mat-card-title {
  font-weight: 400;
  padding-top: 3px;
  padding-bottom: 4px;
  text-align: left;
  color: #455a64;
  span {
    color: #868a98;
  }
}
#chart {
  width: 100%;
}
#csv {
  font-size: 1rem;
  float: right;
  padding-bottom: 10px;
}
.report-stats {
  font-size: 1rem;
}
